<% if (typeof breadcrumbs !== 'undefined' && Array.isArray(breadcrumbs) && breadcrumbs.length > 0) { %>
<nav class="breadcrumb">
  <a class="breadcrumb__link" href="/admin">Accueil</a>
  <% breadcrumbs.forEach(function(item, idx) { %>
    <span class="breadcrumb__sep material-symbols-outlined">chevron_right</span>
    <% if (idx === breadcrumbs.length - 1) { %>
      <span class="breadcrumb__current"><%- item.label %></span>
    <% } else { %>
      <a class="breadcrumb__link" href="<%= item.url %>"><%- item.label %></a>
    <% } %>
  <% }) %>
</nav>
<% } %>
