    </div>

    <script src="/js/toast.js"></script>
    <script src="/js/btn-loading.js"></script>
    <script src="/js/admin-ajax.js"></script>
    <script src="/js/form-validation.js"></script>
    <script>
      (function () {
        /* Sidebar toggle */
        var toggle = document.getElementById('sidebar-toggle');
        var sidebar = document.getElementById('admin-sidebar');
        var overlay = document.getElementById('sidebar-overlay');
        if (toggle && sidebar && overlay) {
          toggle.onclick = function () {
            sidebar.classList.toggle('-translate-x-full');
            overlay.classList.toggle('hidden');
          };
          overlay.onclick = function () {
            sidebar.classList.add('-translate-x-full');
            overlay.classList.add('hidden');
          };
        }
      })();
    </script>
  </body>
</html>
